<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Framework.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Framework.Properties.Settings>
            <setting name="Path" serializeAs="String">
                <value>C:\Windows\System32</value>
            </setting>
            <setting name="Exe" serializeAs="String">
                <value>mspaint.exe</value>
            </setting>
            <setting name="MainWindowName" serializeAs="String">
                <value>Untitled - Paint</value>
            </setting>
            <setting name="ProcessName" serializeAs="String">
                <value>mspaint</value>
            </setting>
        </Framework.Properties.Settings>
    </applicationSettings>
</configuration>